ul {
  list-style-type: none;
  padding: 0;
}

.todo-list:not(:first-child) {
  margin-top: 8px;
}

.todo-list-item {
  padding: 8px;
  font-size: 16px;
}

.todo-checkbox:checked + .todo-label {
  text-decoration: line-through;
}

.gauge {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  max-width: 800px;
  margin-top: 8px;
}

.gauge button {
  padding: 8px;
  border: 1px dotted #333;
}

.active {
  background-color: #3498db;
  color: white;
}
